html,body,#root{
  height: 100%;
  width: 100%;
  
}

#root{
  background-image: url('https://images7.alphacoders.com/717/thumb-1920-717773.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}


body {
  
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
